.ShowView .ShowView-main .ShowView-image {
    max-height: 300px;
}

.ShowView .ShowView-main .Show-info ul strong::after {
    content: ': ';
}

.ShowView .ShowView-main .Show-info a {
    overflow-wrap: anywhere;
}
