.sticky-header-table-wrapper {
    overflow-y: auto;
}

.sticky-header-table-wrapper thead tr, 
.sticky-header-table-wrapper tfoot tr {
    position:   sticky;
    top:        -1px;   
}

.sticky-header-table-wrapper tfoot tr {
    bottom: 0px;
    top:    initial;
}

.sticky-header-table-wrapper table {
    border-collapse:    collapse;
    width:              100%;
}

