.App .WarningMessage {
  background-color: rgba(1255, 255, 255, 0) !important;
  pointer-events:   none;
}

.App .WarningMessage .WarningMessage-content {
  background-color: rgba(255, 255, 255, 1) !important;
  min-width:        10vw !important;
  pointer-events:   all;
  width:            auto !important;
}
